<div>
         <div>
            <section class="header place-page-header">
               <div ng-style="bgImage" class="container header-content-wrapper">
                  <div class="col-md-7 col-lg-7 col-sm-12">
                     <p class="header-content">{{place.name}}</p>
                     <p class="header-small-content">{{place.full_name}}</p>
                     <p class="header-small-content">{{place.address}}</p>
                  </div>
                  <div class="col-md-5 col-lg-5 col-sm-12">
                     <div class="google-maps-wrapper">GG maps</div>
                  </div>
               </div>
            </section>
            <section class="page-content-wrapper overview-page-content-wrapper">
               <div class="row">
                  <form>
                     <div class="panel panel-default respository"> <a href="/internship" class="link-on-white">Internship Places</a>/ <a href="/places/{{place.id}}" class="link-on-white">{{place.name}}</a> / Review by {{Login.user.name}} ( Editing )</div>
                     <div class="overview-content-header">Edit Review @{{place.name}}</div>
                     <div class="col-md-8 col-sm-12 col-lg-8">
                        <div class="row">
                           <div class="col-md-6 col-sm-6 col-lg-6">
                              <div class="date-time-picker-wrapper">
                                 <div class="review-topic-header">Start Date</div>
                                 <p class="small-description">วัน/เดือน/ปี ที่เริ่มการฝึกงาน</p>
                                 <input data-provide="datepicker" placeholder="Start Date" class="form-control" name="startdate" ng-model="post_re.start">
                              </div>
                           </div>
                           <div class="col-md-6 col-sm-6 col-lg-6">
                              <div class="date-time-picker-wrapper">
                                 <div class="review-topic-header">End Date</div>
                                 <p class="small-description">วัน/เดือน/ปี ที่จบการฝึกงาน</p>
                                 <input data-provide="datepicker" placeholder="Ended Date" class="form-control" name="enddate" ng-model="post_re.finish">
                              </div>
                           </div>
                           <div class="col-md-6 col-sm-6 col-lg-6">
                              <div class="review-topic-header">Position</div>
                              <p class="small-description">ตำแหน่งงานที่ทำ</p>
                              <input typet='text' placeholder="Postion" class="form-control" name="position" ng-model="post_re.position">
                           </div>
                        </div>
                        <div class="row overview review-box">
                           <div class="review-topic-header">Review</div>
                           <p class="small-description">เขียนอธิบายเกี่ยวกับการฝึกงานสามารถใช้ได้ทั้งภาษาไทยและภาษาอังกฤษ โดยมีเนื้อหาแนะนำดังนี้</p>
                           <p class="small-description">- เรียนรู้อะไรมาบ้าง</p>
                           <p class="small-description">- เป็นการวิจัยหรือทำงานที่บริษัท ประเภทของงาน</p>
                           <p class="small-description">- ชีวิตความเป็นอยู่</p>
                           <p class="small-description">- คำแนะนำอื่นๆ สำหรับรุ่นน้องที่สนใจ</p>
                           <input id="short-review" type="text" name="short-review" placeholder="รีวิวสั้นๆ ไม่เกิน 140 ตัวอักษร" class="form-control short-review" ng-model="post_re.summary">
                           <textarea class="col-md-12" name="content" data-provide="markdown" data-hidden-buttons="Preview" rows="20" placeholder="รีวิวอย่างละเอียด ยิบ ยิบ ยิบ ยิบบบบ บบ บ บ ..." ng-model="post_re.detail" required></textarea>
                        </div>
                     </div>
                     <div class="col-md-4 col-sm-12 col-lg-4">
                        <div class="col-md-12 col-lg-12 col-sm-12 panel-grey tags-row tags-box">
                           <div class="rating-header">
                              Select Tags
                              <p class="small-description">เลือก Tags ที่เกี่ยวข้องกับการฝึกงาน เช่น ประเทศ, ประเภทของงาน ฯลฯ</p>
                           </div>
                           <div style="width: 100%;" class="col-md-12 col-lg-12 js-example-basic-multiple">
                              <div ng-repeat="tag in tags">
                                 <h4 name="tag-{{tag.id}}">{{tag.name}}</h4>
                                 <div ng-repeat="t in tag.tags">
                                    <input type="checkbox" name="{{tag.id}}" value="{{t.value}}" ng-model="pre_tag[tag.id][t.id]"> {{t.value}}<br />
                                 </div>
                              </div>

                           </div>

                        </div>
                        <div class="col-md-4 col-sm-4 col-lg-4"></div>
                        <div class="col-md-12 col-lg-12 col-sm-12 panel-grey tags-row">
                           <div class="panel rating-panel panel-grey">
                              <div class="panel-body rating-header">Gives 6 ratings</div>
                              <table class="col-md-12 col-lg-12 col-sm-12 rating-table">
                                 <tr ng-repeat="rating in ratings">
                                    <td class="col-md-6 col-lg-6 col-sm-6 rating-content">
                                       {{rating.name}}
                                       <p class="small-description">{{rating.description}}</p>
                                    </td>
                                    <td class="col-md-6 col-lg-6 col-sm-6 rating-content">
                                       <select style="width: 100%;" class="col-md-12 col-lg-12e" ng-model="post_re.ratings[$index]['rating_score']">
                                          <option value="1">1</option>
                                          <option value="2">2</option>
                                          <option value="3">3</option>
                                          <option value="4">4</option>
                                          <option value="5">5</option>
                                       </select>
                                    </td>
                                 </tr>
                              </table>
                           </div>
                        </div>
                     </div>
                     <div class="row"><input type="submit" class="btn btn-primary btn-save" value="Submit" ng-click="processForm()"></div>
                  </form>
               </div>
               
            </section>
         </div>
      </div>