<div>
   <div>
      <section class="header place-page-header">
         <div ng-style="bgImage" class="container header-content-wrapper">
            <div class="col-md-7 col-lg-7 col-sm-12">
               <p class="header-content">{{place.name}}</p>
               <p class="header-small-content">{{place.full_name}}</p>
               <p class="header-small-content">{{place.address}}</p>
            </div>
            <div class="col-md-5 col-lg-5 col-sm-12">
               <div class="google-maps-wrapper">GG maps</div>
            </div>
         </div>
      </section>
      <!-- TODO IM -->
      <section class="page-content-wrapper overview-page-content-wrapper">
         <div class="row">
            <div class="panel panel-default respository"><a href="/home" class="link-on-white">Home</a>/ {{place.name}}</div>
            <div class="col-md-8 col-sm-12 col-lg-8">
               <div class="row overview">
                  <div class="overview-content-header">About {{place.name}}<button type="button" class="btn btn-primary btn-edit" ng-click="edit()"><span class="glyphicon glyphicon-edit"></span> Edit</button></div>
                  <div class="overview-content" data-sd-model-to-html="place.about"></div>
                  <div class="overview-content-header">Review<a href="/add-review/{{place.id}}"><button type="button" href="/add-review/{{place.id}}" class="btn btn-primary btn-edit"><span class="glyphicon glyphicon-pencil"></span> Write Your Review</button></a></div>
                  <div class="overview-content">
                     <div class="panel panel-default">
                        <ul class="list-group">
                           <li ng-repeat="review in short_reviews" class="list-group-item">
                              <div class="media"></div>
                              <div class="media-left"><a href="#"><img src="assets/img/media.svg" class="media-object"></a></div>
                              <div class="media-body">
                                 <div class="row student-review-info">
                                    <h4 class="media-heading student-name">Review By {{review.reviewer_name}}<small class="work-field-and-time"> {{review.position}}</small></h4>
                                    <div class="work-field-and-time-start">Start : {{review.start | date:'yyyy-MM-dd'}}</div>
                                    <div class="work-field-and-time-finish">Finish : {{review.finish | date:'yyyy-MM-dd'}}</div>
                                    <div class="short-review">"{{review.summary}}"<a href="/reviews/{{review.id}}" class="readmore"> » read more</a>
                                    </div>
                                    <span ng-if="review.ratings[5].score>=1" class="glyphicon glyphicon-heart internship-rating"></span><span ng-if="review.ratings[5].score>=2" class="glyphicon glyphicon-heart internship-rating"></span><span ng-if="review.ratings[5].score>=3" class="glyphicon glyphicon-heart internship-rating"></span><span ng-if="review.ratings[5].score>=4" class="glyphicon glyphicon-heart internship-rating"></span><span ng-if="review.ratings[5].score>=5" class="glyphicon glyphicon-heart internship-rating"></span><span ng-if="review.ratings[5].score>=6" class="glyphicon glyphicon-heart internship-rating"></span>

                                    <div class="row">
                                       <div ng-repeat="tag in review.tags" class="tags-wrapper"><span class="label label-black tags">{{tag.value}}</span></div>
                                    </div>
                                    
                                 </div>
                              </div>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-4 col-sm-12 col-lg-4">
               <div class="row col-md-12 col-lg-12 panel-grey tags-row">
                  <div class="panel rating-panel panel-grey">
                     <div class="panel-body rating-header">Average rating from all reviews</div>
                     <table class="col-md-12 col-lg-12 col-sm-12 rating-table">
                        <tr ng-repeat="rating in avg_ratings">
                           <td class="col-md-6 col-lg-6 col-sm-6 rating-content">{{rating.name}}</td>
                           <td class="col-md-6 col-lg-6 col-sm-6 rating-content"><span ng-if="rating.score>=1" class="glyphicon glyphicon-heart internship-rating"></span><span ng-if="rating.score>=2" class="glyphicon glyphicon-heart internship-rating"></span><span ng-if="rating.score>=3" class="glyphicon glyphicon-heart internship-rating"></span><span ng-if="rating.score>=4" class="glyphicon glyphicon-heart internship-rating"></span><span ng-if="rating.score>=5" class="glyphicon glyphicon-heart internship-rating"></span><span ng-if="rating.score>=6" class="glyphicon glyphicon-heart internship-rating"></span></td>
                        </tr>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
</div>