<div>
         <div>
            <section class="header place-page-header">
               <div ng-style="bgImage" class="container header-content-wrapper">
                  <div class="col-md-7 col-lg-7 col-sm-12">
                     <p class="header-content">{{place.name}}</p>
                     <p class="header-small-content">{{place.full_name}}</p>
                     <p class="header-small-content">Review by {{review.reviewer_name}}</p>
                  </div>
                  <div class="col-md-5 col-lg-5 col-sm-12">
                     <div class="google-maps-wrapper">GG maps</div>
                  </div>
               </div>
            </section>
            <section class="page-content-wrapper overview-page-content-wrapper">
               <div class="row">
                  <div class="panel panel-default respository"> <a href="/internship" class="link-on-white">Internship Places</a>/ <a href="/places/{{review.place_id}}" class="link-on-white">{{place.name}}</a>/ Review by {{review.reviewer_name}}</div>
                  <div class="col-md-8 col-sm-12 col-lg-8">
                     <div class="row overview">
                        <div ng-if="isEligible_edit" class="overview-content-header">About {{place.name}}<button ng-click="edit()" type="button" class="btn btn-primary btn-edit"><span class="glyphicon glyphicon-edit"></span> Edit</button></div>
                        <div class="col-md-6 col-sm-6 col-lg-6">
                           <div class="date-time-picker-wrapper">
                              <div class="review-topic-header">Start Date</div>
                              <p class="small-description">วัน/เดือน/ปี ที่เริ่มการฝึกงาน</p>
                              <input disabled data-provide="datepicker" placeholder="Start Date" class="form-control" name="startdate" value="{{review.start | date:'dd-MM-yyyy'}}">
                           </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6">
                           <div class="date-time-picker-wrapper">
                              <div class="review-topic-header">End Date</div>
                              <p class="small-description">วัน/เดือน/ปี ที่จบการฝึกงาน</p>
                              <input disabled data-provide="datepicker" placeholder="Ended Date" class="form-control" name="enddate" value="{{review.finish | date:'dd-MM-yyyy'}}">
                           </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6">
                              <div class="review-topic-header">Position</div>
                              <p class="small-description">ตำแหน่งงานที่ทำ</p>
                              <input typet='text' placeholder="Postion" class="form-control" name="position" disabled value="{{review.position}}">
                           </div>
                        <div class="col-md-12">
                        <legend class=" overview-content-header">Detailed Review</legend>
                        <!-- {{review.detail}} -->
                        <p data-sd-model-to-html="review.detail"></p>
                        </div>
                        
                        <!-- <div class="overview-content">test</div>
                        <div class="overview-content-header">Research</div>
                        <div class="overview-content">test</div>
                        <div class="overview-content-header">Research</div>
                        <div class="overview-content">test</div>
                        <div class="overview-content-header">Research</div>
                        <div class="overview-content">test</div> -->
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-12 col-lg-4">
                     <div class="col-md-12 col-lg-12 panel-grey tags-row tags-box">
                        <div class="tags-by-type" ng-repeat="tag in review.tags">
                           <h4 class="tags-wrapper"><span class="label label-black tags">{{tag.value}}</span></h4>
                        </div> <!--
                        <div class="tags-by-type">
                           <h4 class="tags-wrapper"><span class="label label-blue tags">Paid</span></h4>
                        </div>
                        <div class="tags-by-type">
                           <h4 class="tags-wrapper"><span class="label label-green tags">Field of Work</span></h4>
                        </div>
                        <div class="tags-by-type">
                           <h4 class="tags-wrapper"><span class="label label-orange tags">Working Hours</span></h4>
                        </div>
                        <div class="tags-by-type">
                           <h4 class="tags-wrapper"><span class="label label-red tags">Programming Language</span></h4>
                        </div> -->
                     </div>
                     <div class="col-md-12 col-lg-12 panel-grey tags-row">
                        <div class="panel rating-panel panel-grey">
                           <div class="panel-body rating-header">Average of 6 ratings</div>
                           <table class="col-md-12 col-lg-12 col-sm-12 rating-table">
                              <tr ng-repeat="rating in review.ratings">
                                 <td class="col-md-6 col-lg-6 col-sm-6 rating-content">{{rating.name}}</td>
                                 <td class="col-md-6 col-lg-6 col-sm-6 rating-content"><span ng-if="rating.score>=1" class="glyphicon glyphicon-heart internship-rating"></span><span ng-if="rating.score>=2" class="glyphicon glyphicon-heart internship-rating"></span><span ng-if="rating.score>=3" class="glyphicon glyphicon-heart internship-rating"></span><span ng-if="rating.score>=4" class="glyphicon glyphicon-heart internship-rating"></span><span ng-if="rating.score>=5" class="glyphicon glyphicon-heart internship-rating"></span><span ng-if="rating.score>=6" class="glyphicon glyphicon-heart internship-rating"></span></td>
                              </tr>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
         </div>
      </div>